<template>
   <div>
        <hr/>
         <b-row>
         <b-col sm="6" offset="3">
          <b-alert show variant="success">{{componentDescription}}</b-alert>
        </b-col>
        </b-row>
     </div>
</template>

<script>
import {eventBus} from "../main"
export default {
   data: function() {
    return {
      componentDescription: "Success Alert Component",
    }
   },
     created(){
      eventBus.$on('changeData',()=>{
           this.componentDescription="Success Alert Component Description Changed by EventBus"
      })
     }
   }
</script>


