<template>
   <div>
        <hr/>
         <b-row>
         <b-col sm="6" offset="3">
          <div>

  <b-card
    border-variant="dark" 
    align="center"
    title="Component's Communication"
    img-src="https://picsum.photos/600/300/?image=25"
    img-alt="Image"
    img-top
    tag="article"
    class="mb-2">
    <b-card-text>
        Click the button to send data to 3 components.
        Lets click
    </b-card-text>

    <b-button href="#" variant="outline-info" @click="sendData()">Event-Bus Send Data</b-button>
  </b-card>
</div>
        </b-col>
        </b-row>
       </div>
</template>

<script>
import {eventBus} from "../main.js"
export default {
   methods: {

sendData(){
    eventBus.$emit('changeData');
}
   }
}
</script>

