<template>
  <div id="app">
        <b-container class="bv-example-row">
        <parentcomponent/>
        <firstcomponent/>
        <secondcomponent/>
        <thirdcomponent/>
       </b-container>
       </div>
</template>

<script>
import firstcomponent from "./components/FirstComponent"
import parentcomponent from "./components/ParentComponent"
import secondcomponent from "./components/SecondComponent"
import thirdcomponent from "./components/ThirdComponent"


import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  name: 'app',
  components: {
    firstcomponent,
    parentcomponent,
    secondcomponent,
    thirdcomponent
  },
}
</script>


